@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%; 
    background-color:#2A2927;
    
}

/* .logo{
    flex: 40%;
    border: 2px solid yellow;
} */

.menu{
    margin-left: 3%;
    text-align: left;
    flex: 50%;
    /* border: 2px solid red; */
      
} 

.menu a {
    background-color: black;
    border-radius: 5px;
    margin-right: 5%;
    padding: 6px 16px;
    font-weight: bold;
    font-size:18px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}

.menu a:hover{
    background-color: #BBC273;
    /* border: 1px solid white; */
}

.header{
    display: flex;
    width: 90%;
    height: 450px;
    margin-left: 5%;
    margin-right: 5%; 
    background-color: #2A2927;  
    border-bottom:8px solid #BBC273; 
}

.herotext {
    
    margin-left: 60px;
    width: 50%;
    height: 100%;
    
}

.herotext h2 {
    margin-top: 12%;
    margin-bottom:0;
    padding: 8px;
    color: white;
    font-size: 56px;
    font-weight:bolder;
    text-align: justify;
}
.herotext p {
    margin-left: 6px;
    padding: 0;
    font-size: 22px;
    color: #757569;
    text-align: justify;
    
}

.hero-img img {
    
    
    max-width: 80%;
    height:100%;
    margin-bottom: 10px;
    object-fit:cover;
    border-radius: 16px;
    box-shadow: -3px 4px 10px black;

    
}

#button {
    margin: auto 10px;
    margin-top: 20px;
    background-color: #BBC273;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #2A2927;
    border-radius:7px;
    padding: 8px;
    cursor: pointer;
}

.content {
    width: 90%;
    height:100px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    background-color: whitesmoke;
    
}

.content h2{
    margin: 20px auto;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
    color: #2A2927
 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 20%;
}

.img img{
    width: 100%;
    height:90%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: -3px 4px 10px black;
    
}

.quote {
    display: flex;
    width: 90%;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #2A2927;
    border-bottom:8px solid #BBC273;
}

.quote h2 {
    margin:auto;
    color: lightgray;
    font-size: 32px;
    font-weight:400;
    align-items: center ;

}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: whitesmoke;
}

/* 
.call {
    
}

 .call h2, a{
   font-size: 20px;
   text-decoration: none;
   border: 20px solid #BBC273;
}


.call a {
    text-decoration: none;    
} */

footer{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-left: 5%;
    margin-right: 5%; 
    background-color: #BBC273;
    
}

.element{
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 28px;
}



p {
    padding: 16px;
    align-self: center;
    font-size: 18px;
    text-align: end;
    
}

h4 {
    align-self: center;  
    font-size: 24px; 
    padding: 18px;
    
}

